[run]
branch = True

source = TerminalUtils

[report]
exclude_lines =
      if __name__ == .__main__.:
      pass
ignore_errors = False
omit =
      */docs/*
      */tests/*
      */TerminalUtils/__init__.py
show_missing = True
